a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#jumbo {
    display: block;
    height: 45vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#myCards {
    background-color: #1C1C1C;
    padding: 1rem 0;
}

.myCard {
    padding: 5px;
    width: calc(100% / 6 - 10px);
}

.myImgThumb {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top;
}

#myLoghi {
    background-color: #0282F9;
}

.myLogo {
    padding: 5px;
    width: calc(100% / 5 - 10px);
}

.myLogoImg {
    height: 80px;
}